* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}




/* header section css  */
/* navbar css  */

header {
    width: 100%;
    background-color: antiquewhite;
}

h3 {
    font-size: 40px;
    font-weight: 700;
}

h3 span {
    color: chartreuse;

}

.nav-style {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 4%;


}

.link-toggle {
    display: none;
}

a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.menu-li {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    overflow: hidden;
    list-style: none;
}

.menu-li a {
    float: left;
    display: block;

}

/* header text section css  */
h1 {
    font-size: 3em;


}

.header-text {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
}

.btn {
    border: none;
    border-radius: 10px;
    background-color: orange;
    padding: 15px 20px;
    color: white;
    font-size: 1.2em;
    font-weight: 800;
    cursor: pointer;
}

/* header img  css*/
.header-img {
    text-align: center;
    margin-top: 4%;
    padding-bottom: 2%;
}

/* team section css  */
.teams {
    display: grid;
    grid-template-columns: 60% 40%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 4%;
    align-items: center;
    column-gap: 5%;
    margin-bottom: 3%;
}

.team-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5%;
    column-gap: 2%;
}

.team-text-1 {
    color: grey;
}

.team-text-2 {
    color: orange;
}

/* features section css */
.features {
    display: grid;
    grid-template-columns: 40% 60%;
    column-gap: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}

.features h1 {
    border-left: 5px solid orange;
    padding-left: 5%;
    margin-bottom: 5%;
}


ul {
    list-style: none;
}

li {
    list-style: none;
}

.features-li {
    border: none;
    border-radius: 5px;
    padding: 5%;
    box-shadow: 3px 3px 3px 5px rgb(207, 207, 207);
    margin-bottom: 6%;
}

.features-btn {
    border: none;
    border-radius: 5px;
    background-color: orange;
    padding: 2% 4%;
    color: white;
    font-weight: 900;
    margin-top: -50px;
    margin-left: -50px;
    cursor: pointer;

}

/* fact section  */
.fact {
    margin-left: 10%;
    margin-top: 43mm;
}

.fact-text {
    margin-right: 60%;
}

.fact-lists {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 3em;
    text-align: center;


}

.fact-li {
    border: 2px solid orange;
    border-radius: 5px;
    height: 150px;
    width: 200px;
    text-align: center;
    padding-top: 3em;
    transition: width 2s, height 2s, transform 2s;

}

.fact-li:hover {
    background-color: rgb(79, 79, 248);
    color: white;
    transform: rotate(360deg);
}

/* Pricing section css  */
h4 {
    font-size: larger;
}

h5 {
    font-size: large;
}

.pricing-section {
    margin-top: 25px;

}

.pricing-our-plan {
    text-align: center;
}

.pricing {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    margin-left: 15%;
    margin-top: 15px;
}

.pricing-list {
    width: 300px;
}

.pricing-list li {
    border: 1px solid rgb(245, 245, 245);
    padding: 5px 20px;

}

.pricing-list li h4 {
    text-align: center;

}

.silver {
    border: 1px solid rgb(253, 249, 3);
    background-color: silver;
}

.golden {
    background-color: gold;

}

.dimont {
    background-color: rgb(214, 235, 175);
}

/* spondor section css  */

.sponsor {
    margin-top: 4em;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.sponsor-img {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

/* footer section start  */
.footer {

    text-align: center;
    padding-top: 20px;
    background-color: antiquewhite;
    margin-left: 8%;
    margin-right: 8%;
    height: 40px;
    margin-bottom: 5%;
    margin-top: 5%;
    border-radius: 5px;
}

@media screen and (max-width:576px) {
    header {
        padding-bottom: 5%;
    }

    .nav-style {
        display: grid;
        row-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
    }

    .menu-li {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

    .link-toggle {
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer;
    }

    .header-text {
        margin-left: 5%;
        margin-right: 5%;
    }

    .header-imgs {
        width: 100%;
    }

    .teams {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 10%;
        margin-bottom: 100px;

    }

    .team-img {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 5%;
        margin-left: 5%;

    }

    .team-text {
        margin-top: 50px;
    }

    .features {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 80px;
    }

    .features-btn {
        display: block;
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .features-img {
        width: 100%;
    }

    .fact {

        margin-top: 6%;

    }

    .fact-lists {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 2em;
        margin-left: 23%;
    }

    .fact-text {
        margin-right: 0%;
    }

    .pricing {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;


    }

    .sponsor-img {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 2em;
    }

    .footer {
        background-color: rgb(250, 157, 36);
        color: white;
        height: 50px;

    }
}



/* Mobile Device Responsive  *


@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}